@model IEnumerable<TripPlanner.Models.Trip>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
}

@{
    var LoggedInUser = ViewData["LoggedInUser"] as TripPlanner.Models.User;
}


<h1>Active trips</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owners)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @if (item.Owners != null)
                    {
                    foreach (var owner in item.Owners)
                    {
                    <li>@owner</li>
                    }
                }
            </td>
            <td>
                @if (item.Users != null)
                    {
                    @foreach (var user in item.Users)
                    {
                        <li>@user.Username</li>
                    }
                }
            </td>

				<td>
					<a asp-action="Details" asp-route-id="@item.ID">Details</a>
                    <a asp-action="Register" asp-route-id="@item.ID">Register</a>
                    @if (Model.Any(trip => trip.ID == item.ID && trip.Owners.Contains(LoggedInUser.Username)))
                    {
                    <a asp-action="Edit" asp-route-id="@item.ID" > Edit </a> 
                    <a asp-action="Delete" asp-route-id="@item.ID" > Delete </a>
                    <a asp-action="AddOwner" asp-route-id="@item.ID"> Add owner </a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}