@model IEnumerable<TripPlanner.Models.User>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
}



<h1>Registered Users</h1>

<p>
    <a asp-action="Register">Register New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
                @if (HttpContextAccessor.HttpContext.Session.GetInt32("UserId") == item.ID)
                {
                <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
                }
        </tr>
}
    </tbody>
</table>
